* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Form Styling */
.container .form-container {
  display: none;
  margin-top: 15px;
}

.container .form-container .form-entry {
  margin: 5px 0;
}

/* Display container Styling  */

.container .display-container .display-header {
  margin-bottom: 25px;
  font-weight: bold;
}

/* Gameboard container styling */
.container .gameboard-container {
  display: none;
  flex-direction: column;
  padding: 4px;
  border: 3px solid gray;
  border-radius: 6px;
}

.container .gameboard-container .row {
  display: flex;
}

.container .gameboard-container .row:nth-of-type(even) {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.container .gameboard-container .row .cell {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding: 4px;
}

.container .gameboard-container .row .cell:nth-of-type(even){
  border-left: 5px solid black;
  border-right: 5px solid black;

}